<!DOCTYPE html>
<html>
    <head>
        <title>Database Example for ART 390U</title>
    </head>

    <!-- If your POST request routes to the confirm page, this will be displayed instead of the home screen when the form is submitted. -->
    <body>
        <p>Thank you for filling out the form!</p>
        
        <a href="../">Return to home page</a>
        
    </body>
</html>